.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5px;
    width: calc(100% - 35px);
    height: calc(100% - 35px);
    padding: 10px;
    color: skyblue;
    border: 2px solid rgba(100, 205, 255, 0.15);
    background-color: rgba(100, 205, 255, 0.15);
    overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
    width: 2px;
}

.wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: skyblue;
    outline: 1px solid slategrey;
}

.close-button {
    position: fixed;
    align-self: flex-end;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0.3;
    cursor: pointer;
}
.close-button:hover {
    opacity: 1;
}
.close-button:before, .close-button:after {
    position: absolute;
    top: 0;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: skyblue;
}
.close-button:before {
    transform: rotate(45deg);
}
.close-button:after {
    transform: rotate(-45deg);
}

.info {
    padding-right: 60px;
    white-space: pre-wrap;
}

.info span {
    display: inline-block;
    width: 90px;
}

.description {
    margin-top: 10px;
    white-space: pre-wrap;
}