.wrapper {
    border: 2px solid black;
}

.current-day {
    background-color: darkgrey;
}

.wrapper td {
    position: relative;
    width: 75px;
    height: 75px;
    vertical-align: unset;
}

.day-num {
    position: absolute;
    width: 100%;
    font-size: 42px;
    line-height: 65px;
    text-align: center;
}

.real-date {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 14px;
    text-align: center;
}